{% extends "index.html" %}

{% block body %}

<div class="row">
    <h2 class="header col-xs-11">
        <i class="mdi-action-today"></i>
        Your calendar
    </h2>
    <div class="col-xs-1">
        <a data-toggle="modal" data-target="#upload" id="add_calendar" title="Add events to your calendar" class="btn btn-info btn-fab btn-raised mdi-action-settings"></a>
    </div>
</div>

<div class="panel panel-info" id="calendar">
    <div class="panel-heading">
        <div class="row">
            <a id="prev_day" title="Previous day" class="col-md-2 btn mdi-hardware-keyboard-arrow-left" style="float:left; margin: 0 0 0 0"></a>
            <h3 class="col-md-8"></h3>
            <a id="next_day" title="Previous day" class="col-md-2 btn mdi-hardware-keyboard-arrow-right" style="float:right; margin: 0 0 0 0"></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="table table-stripped table-hover" id="events">
        </div>
    </div>
</div>

<div id="upload" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Manage your calendar</h3>
            </div>
            <div class="modal-body">

                <div>
                    <h4>Upload icalendar file</h4>
                    <div class="alert alert-dismissable" id="upload_alert"></div>
                    <div>
                        <form id="upload_ics" method="post" action="/upload_ics" enctype=multipart/form-data>
                            <div class="form-group">
                                <input type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
                                <input type="file" id="file_name" multiple="">
                                <input type="hidden" name="user" id="user_id">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Upload">
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>

<div id="personal-details" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Contact details</h3>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover" id="contact-details">
                    <tr id="contact-name">
                        <td class="data"></td>
                    </tr>
                    <tr id="contact-email">
                        <td class="data"></td>
                    </tr>
                    <tr id="contact-free">
                        <td class="data"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}
