{% extends "index.html" %}

{% block body %}

<h2 class="header">Settings</h2>

<div id="settings-accordion">

    <div class="panel panel-default">
        <div class="panel-heading">Permissions</div>
        <div class="panel-body">
            <p>
            Nothing to do here, right now.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <i class="mdi-social-people"></i>
                Friends & blacklisting
            </h3>
        </div>
        <div class="panel-body">
            <p>
            This list shows all your friends that uses the application. You can add them to the blacklist, so they would not see your schedule.
            <strong class="text-danger">Remember! You would not see them, either!</strong>
            </p>

            <div id="friends-list">

            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}
